doctype 5
html
  head
    title GII-IV
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      #header
        h1 4º Grado en Ingeniería informática - Tecnologías de la Información
      #content
        block content
      #footer
        a(href="http://blog.koalite.com") This project in github.
